{% if page.page_loader %}
	<div class="page-loader">
		<div class="loader">
			<div class='loader-style-1 panelLoad'>
				<div class='cube-face cube-face-front'>I</div>
				<div class='cube-face cube-face-back'>C</div>
				<div class='cube-face cube-face-left'>O</div>
				<div class='cube-face cube-face-right'>N</div>
				<div class='cube-face cube-face-bottom'>I</div>
				<div class='cube-face cube-face-top'>C</div>
			</div>
			<span class="cube-face">Iconicwebs</span>
		</div>
	</div><!-- Page Loader -->
{% endif %}