{% if page.sidepanel %}
	<div class="sidepanel bg-color5 d-flex flex-column gap-5">
		<span class="d-flex align-items-center justify-content-center bg-color5"><i
				class="far fa-cog fa-spin"></i></span>
		<div class="sidepanel-box d-flex flex-column align-items-start gap-4">
			<h6 class="mb-0 fw-normal">Choose Your Color</h6>
			<div class="color-picker d-flex flex-wrap align-items-start w-100 gap-2">
				<a class="scheme1-color" href="javascript:void(0);" title=""></a>
				<a class="scheme2-color applied" href="javascript:void(0);" title=""></a>
				<a class="scheme3-color" href="javascript:void(0);" title=""></a>
				<a class="scheme4-color" href="javascript:void(0);" title=""></a>
				<a class="scheme5-color" href="javascript:void(0);" title=""></a>
			</div><!-- Color Picker -->
		</div><!-- Side Panel Box -->
		<div class="sidepanel-box d-flex flex-column align-items-start gap-4">
			<h6 class="mb-0 fw-normal">Choose Your Skin Mode</h6>
			<div class="skin-mode d-flex flex-wrap align-items-start w-100 gap-2">
				<a class="dark-mode" href="javascript:void(0);" title="">Dark</a>
				<a class="light-mode applied" href="javascript:void(0);" title="">Light</a>
			</div><!-- Skin Mode -->
		</div><!-- Side Panel Box -->
	</div><!-- Side Panel -->
{% endif %}

