<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body class="page">

		{% include header.html nav=false %}

		<main class="wrapper" role="main">

				<section class="section">
					<header>
						<h2>
							{{ page.title }}
						</h2>
					</header>

					<div class="content">

						<p>This is my typical processes working with clients&mdash;<b>your experience may vary</b>&mdash;but for the most part we follow this.</p>

						<p><a href="{{ site.url }}">&larr; <i class="fa fa-home"></i>Back Home</a></p>

					</div>
				</section>

				{{ content }}
		</main>

		{%  include footer.html %}
	</body>

	{% include credit.html %}
</html>
